{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-manufacturer" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">                
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if error_attention %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning!</strong> {{ error_attention }}
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-api" data-toggle="tab">Configuración de llaves</a></li>
                        <li><a href="#tab-general" data-toggle="tab">Configuración de los cargos</a></li>
                        <li><a href="#tab-status" data-toggle="tab">Estatus</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active " id="tab-api">
                            {% if error_validate_currency%}
                                <div class="text-danger">{{ error_validate_currency }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="radio-test-mode">{{ text_test_mode }}</label>
                                <div class="col-sm-10">                                    
                                    <label class="radio-inline">
                                        <input id="radio-test-mode" type="radio" name="payment_openpay_cards_mode" value="0" {% if not payment_openpay_cards_mode %} checked {% endif %} >{{ text_no }}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="payment_openpay_cards_mode" value="1" {% if payment_openpay_cards_mode %} checked {% endif %}>{{ text_yes }}
                                    </label>
                                </div>
                            </div>

                             <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-title" >
                                    {{ entry_country }}
                                </label>
                                <div class="col-sm-10">                                                                     
                                    <select name="payment_openpay_cards_country" id="country" class="form-control">
                                        <option value="MX" {% if country == "MX" %} selected {% endif %}>México</option>                                        
                                        <option value="CO" {% if country == "CO" %} selected {% endif %}>Colombia</option>                                        
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-affiliation_bbva">
                                    {{ entry_affiliation_bbva }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_openpay_cards_affiliation_bbva" value="{{ payment_openpay_cards_affiliation_bbva }}" class="form-control" id="input-affiliation_bbva" placeholder="{{ entry_affiliation_bbva }}">
                                    {% if error_affiliation_bbva %}
                                        <div class="text-danger">{{ error_affiliation_bbva }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="text" name="payment_openpay_cards_classification" value="{{ payment_openpay_cards_classification }}" class="form-control" id="input-merchant-classification">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-test-merchant-id">
                                    {{ entry_test_merchant_id }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_openpay_cards_test_merchant_id" value="{{ payment_openpay_cards_test_merchant_id }}" class="form-control" id="input-test-merchant" placeholder="{{ entry_test_merchant_id }}">
                                    {% if error_test_merchant_id %}
                                        <div class="text-danger">{{ error_test_merchant_id }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-test-secret">
                                    {{ entry_test_secret_key }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_openpay_cards_test_secret_key" value="{{ payment_openpay_cards_test_secret_key }}" class="form-control" id="input-test-secret" placeholder="{{ entry_test_secret_key }}">
                                    {% if error_test_secret_key %}
                                        <div class="text-danger">{{ error_test_secret_key }}</div>
                                    {% endif %}
                                    {% if error_test_merchant_account %}
                                        <div class="text-danger">{{ error_test_merchant_account }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-test-public">
                                    {{ entry_test_public_key }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" id="input-test-public" class="form-control" name="payment_openpay_cards_test_public_key" placeholder="{{ entry_test_public_key }}" value="{{ payment_openpay_cards_test_public_key }}" >
                                    {% if error_test_public_key %}
                                        <div class="text-danger">{{ error_test_public_key }}</div>
                                    {% endif %}
                                    {% if error_test_merchant_account %}
                                        <div class="text-danger">{{ error_test_merchant_account }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-live-merchant-id">
                                    {{ entry_live_merchant_id }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_openpay_cards_live_merchant_id" value="{{ payment_openpay_cards_live_merchant_id }}" class="form-control" id="input-live-merchant" placeholder="{{ entry_live_merchant_id }}">
                                    {% if error_live_merchant_id %}
                                        <div class="text-danger">{{ error_live_merchant_id }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-live-secret">
                                    {{ entry_live_secret_key }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_openpay_cards_live_secret_key" value="{{ payment_openpay_cards_live_secret_key }}" class="form-control" id="input-live-secret" placeholder="{{ entry_live_secret_key }}">
                                    {% if error_live_secret_key %}
                                    <div class="text-danger">{{ error_live_secret_key }}</div>
                                    {% endif %}
                                    {% if error_live_merchant_account %}
                                        <div class="text-danger">{{ error_live_merchant_account }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-live-public">
                                    {{ entry_live_public_key }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" id="input-live-public" class="form-control" name="payment_openpay_cards_live_public_key" placeholder="{{ entry_live_public_key }}" value="{{ payment_openpay_cards_live_public_key }}" >
                                    {% if error_live_public_key %}
                                    <div class="text-danger">{{ error_live_public_key }}</div>
                                    {% endif %}
                                    {% if error_live_merchant_account %}
                                        <div class="text-danger">{{ error_live_merchant_account }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-general">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-title" >
                                    {{ entry_title }}
                                    <span class="glyphicon" data-toggle="popover" data-content="{{ help_title }}" style="cursor:pointer;" >
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_openpay_cards_title" value="{{ payment_openpay_cards_title }}" class="form-control" id="input-title" placeholder="{{ entry_title }}" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="select-geo-zone">
                                    {{ entry_geo_zone }}
                                </label>
                                <div class="col-sm-10">
                                    <select name="payment_openpay_cards_geo_zone_id" id="select-geo-zone" class="form-control">
                                        <option value="0">{{ text_all_zones }}</option>                                        
                                        {% for geo_zone in geo_zones %}
                                            <option value="{{ geo_zone.geo_zone_id }}" {% if geo_zone.geo_zone_id == payment_openpay_cards_geo_zone_id %} selected {% endif %} >{{ geo_zone.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="select-module-status">
                                    {{ entry_status }}
                                </label>
                                <div class="col-sm-10">
                                    <select name="payment_openpay_cards_status" id="select-module-status" class="form-control">
                                        {% if payment_openpay_cards_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-total">
                                    {{ entry_total }}
                                    <span class="glyphicon" data-toggle="popover" data-content="{{ help_total }}" style="cursor:pointer;" ></span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        {% if currency_symbol_left %}
                                        <span class="input-group-addon">{{ currency_symbol_left }}</span>
                                        {% endif %}
                                        <input type="text" id="input-total" class="form-control" name="payment_openpay_cards_total" value="{{ payment_openpay_cards_total }}" >
                                        {% if currency_symbol_right %}
                                        <span class="input-group-addon">{{ currency_symbol_right }}</span>
                                        {% endif %}
                                    </div>
                                    {% if error_total %}
                                    <div class="text-danger">{{ error_total }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-sort-order">
                                    {{ entry_sort_order }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" id="input-sort-order" class="form-control" name="payment_openpay_cards_sort_order" value="{{ payment_openpay_cards_sort_order }}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="radio-test-mode">Months interest-free</label>
                                <div class="col-sm-10" id="months_interest_free">                                                                     
                                    {% for key, month in months_interest_free %}    
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="payment_openpay_cards_interest_free[]" value="{{ key }}" {{ key in payment_openpay_cards_interest_free ? 'checked="checked"' : '' }}> {{ month }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="radio-test-mode">Cuotas
                                    <span class="glyphicon" data-toggle="popover" data-content="{{ help_installments }}" style="cursor:pointer;" >
                                    </span>
                                    </label>
                                <div class="col-sm-10">
                                    <select name="payment_openpay_cards_installments[]" id="payment_openpay_cards_installments" multiple class="form-control">
                                         {% for key, installment in installments %}
                                            <option value="{{ key }}" {{ key in payment_openpay_cards_installments ? 'selected="selected"' : '' }}>{{ installment }}</option>
                                         {% endfor %}
                                    </select>                                                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-iva">
                                    {{ entry_iva }}
                                    <span class="glyphicon" data-toggle="popover" data-content="{{ help_iva }}" style="cursor:pointer;" ></span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        {% if currency_symbol_left %}
                                        <span class="input-group-addon">{{ currency_symbol_left }}</span>
                                        {% endif %}
                                        <input type="text" id="input-iva" class="form-control" name="payment_openpay_cards_iva" value="{{ payment_openpay_cards_iva }}" >
                                        {% if currency_symbol_right %}
                                        <span class="input-group-addon">{{ currency_symbol_right }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_openpay_cards_charge_type">
                                    ¿Cómo procesar el cargo?
                                    <span class="glyphicon" data-toggle="popover" data-content="{{ help_charge_types }}" data-html="true" style="cursor:pointer;" ></span>
                                </label>
                                <div class="col-sm-10">                                                     
                                    <select name="payment_openpay_cards_charge_type" id="select-charge-type" class="form-control">
                                        {% for key, type in charge_types %}                                                                                    
                                            <option value="{{ key }}" {{ key in payment_openpay_cards_charge_type ? 'selected' : '' }}>{{ type }}</option>                                        
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="capture">
                                    Configuración del cargo
                                    <span class="glyphicon" data-toggle="popover" data-content="Indica si el cargo se hace o no inmediatamente, con la pre-autorización solo se reserva el monto para ser confirmado o cancelado posteriormente. Las pre-autorizaciones no pueden ser utilizadas en combinación con pago con puntos Bancomer." data-html="true" style="cursor:pointer;" ></span>
                                </label>
                                <div class="col-sm-10">                                                                     
                                    <select name="payment_openpay_cards_capture" id="capture" class="form-control">
                                        <option value="1" {% if capture == "1" %} selected {% endif %}>Cargo inmediato</option>                                        
                                        <option value="0" {% if capture == "0" %} selected {% endif %}>Pre-autorizar únicamente</option>                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="card_points">
                                    Pago con puntos
                                    <span class="glyphicon" data-toggle="popover" data-content="Recibe pagos con puntos Bancomer habilitando esta opción. Esta opción no se puede combinar con pre-autorizaciones o MSI." data-html="true" style="cursor:pointer;" ></span>
                                </label>
                                <div class="col-sm-10">                                                                     
                                    <select name="payment_openpay_cards_use_card_points" id="use_card_points" class="form-control">
                                        <option value="0" {% if use_card_points == "0" %} selected {% endif %}>NO</option>                                        
                                        <option value="1" {% if use_card_points == "1" %} selected {% endif %}>SI</option>                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="save_cc">
                                    Guardar tarjetas
                                    <span class="glyphicon" data-toggle="popover" data-content="Permite a los usuarios guardar sus tarjetas de crédito para agilizar futuras compras." data-html="true" style="cursor:pointer;" ></span>
                                </label>
                                <div class="col-sm-10">                                                                     
                                    <select name="payment_openpay_cards_save_cc" id="save_cc" class="form-control">
                                        <option value="0" {% if save_cc == "0" %} selected {% endif %}>NO</option>                                        
                                        <option value="1" {% if save_cc == "1" %} selected {% endif %}>SI</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-status">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="select-new">
                                    Estatus de la orden
                                    <span class="glyphicon" data-toggle="popover" data-content="Las ordenes generadas a través de un cargo exitoso, mostrarán este estatus. Este estatus no aplica para pre-autorizaciones." data-html="true" style="cursor:pointer;" ></span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="payment_openpay_cards_order_status_id" id="input-order-status" class="form-control">
                                        {% for order_status in order_statuses %}                                        
                                            <option value="{{ order_status.order_status_id }}" {% if order_status.order_status_id == payment_openpay_cards_order_status_id %} selected {% endif %}>{{ order_status.name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    'use strict';
    $('[data-toggle=\'popover\']').popover({
        title: '',
        html: true,
        template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content" style="min-width:150px;"></div></div>'
    });
</script>
<script type="text/javascript" src="./view/javascript/openpay/openpay_cards.js"></script>