<link rel="stylesheet" type="text/css" href="/catalog/view/theme/default/stylesheet/openpay_cards.css">

<form action="{{ action }}" method="POST" id="payment-form" class="form-horizontal">
    <input type="hidden" name="use_card_points" id="use_card_points" value="false">
    <div class="content" id="payment">
        <div class="row" id="header">
            <div class="col-sm-12">
                <h2>{{ text_credit_card }}</h2>
                <hr>
            </div>            
        </div>

        <div class="row mb20">
            {% if country == 'MX' %}
                {%if  classification != 'eglobal' %}                        
                    <div class="col-md-4">                                    
                        <img src="https://openpay-plugins-screenshots.s3.amazonaws.com/tarjetas_2x.png" alt="Tarjetas" class="tiendas">
                    </div>
                {% else %}
                    <div class="col-md-4">                                    
                        <img src="/catalog/view/theme/default/image/bbva_cards.png" alt="Tarjetas" class="bbva_cards">
                    </div>
                {% endif %}
                <div class="col-md-12">                    
                    <img src="https://openpay-plugins-screenshots.s3.amazonaws.com/bancos_2x.png" alt="Tarjetas" class="tiendas">
                </div>
            {% else %}
                <div class="col-md-4">                                    
                    <img src="/catalog/view/theme/default/image/openpay_cards_co.png" alt="Tarjetas" class="tiendas">
                </div>
            {% endif %}
        </div>

        <div id="msgBox" role="alert"><i></i><span style="margin-left:10px;"></span></div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for='openpay_cc'>
                Información de pago
            </label>
            <div class="col-sm-4">
                <select id="openpay_cc" name="openpay_cc" class="form-control">                    
                    {% for option in cc_options %}
                        <option value="{{ option['value'] }}">{{ option['name'] }}</option>
                    {% endfor %}
                </select>
            </div>            
        </div>

        <div id="payment_form_openpay_cards">        
            <div class="form-group">
                <label class="col-sm-2 control-label" for='cc-owner'>
                    {{ entry_cc_owner }}
                </label>
                <div class="col-sm-4">
                    <input type="text" id="cc-owner" class="form-control" data-openpay-card="holder_name" autocomplete="off" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for='cc-number'>
                    {{ entry_cc_number }}
                </label>
                <div class="col-sm-4">
                    <input type="text" id="cc-number" name="card_number" class="form-control" data-openpay-card="card_number" autocomplete="off" maxlength="16">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cc-month">
                    {{ entry_cc_expire_date }}
                </label>
                <div class="col-sm-2">
                    <select id="cc-month" data-openpay-card="expiration_month" class="form-control">                    
                        {% for month in months %}
                            <option value="{{ month['value'] }}">{{ month['text'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2">
                    <select id="cc-year" data-openpay-card="expiration_year" class="form-control">                    
                        {% for year in year_expire %}
                            <option value="{{ year['value'] }}">{{ year['text'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div id="payment_form_openpay_cards_cvv">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cc-cvv">
                    {{ entry_cc_cvv2 }}
                </label>
                <div class="col-sm-2">
                    <input id="cc-cvv" type="password" name="cc_cvv" autocomplete="off" data-openpay-card="cvv2" class="form-control" maxlength="4">
                </div>
                <div class="col-sm-2">
                    <img data-toggle="popover" data-content="{{ help_cvc_back }}" src="https://openpay-plugins-screenshots.s3.amazonaws.com/cvc_back.png" alt="Tarjetas" class="cvv" style="cursor:pointer;">
                    <img data-toggle="popover" data-content="{{ help_cvc_front }}" src="https://openpay-plugins-screenshots.s3.amazonaws.com/cvc_front.png" alt="Tarjetas" class="cvv" style="cursor:pointer;">
                </div>
            </div>
        </div>

        <div id="payment_form_openpay_cards_savecc">
            {% if save_cc %}    
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="save_cc">
                        Guardar tarjeta
                    </label>
                    <div class="col-sm-10"  style="padding-top: 7px;">
                        <input type="checkbox" name="save_cc" id="save_cc" class="form-check-input" />
                    </div>    
                </div>     
            {% endif %}
        </div>
        
        {% if months_interest_free|length > 0 %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cc-cvv">
                    Meses sin intereses
                </label>
                <div class="col-sm-2">
                    <select id="interest-free" name="interest_free" class="form-control">
                        <option value="">Pago de contado</option>                        
                        {% for month in months_interest_free %}
                            <option value="{{ month }}">{{ month }} meses</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2 hidden" id="total-monthly-payment" >
                    Pago mensual
                    <p class="openpay-total">$<span id="monthly-payment"></span> MXN</p>                    
                </div>
            </div>
        {% endif %}

        {% if installments|length > 0 %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cc-cvv">
                    Cuotas
                </label>
                <div class="col-sm-2">
                    <select id="installments" name="installments" class="form-control">
                        <option value="">Pago de contado</option>                        
                        {% for installment in installments %}
                            <option value="{{ installment }}">{{ installment }} cuotas</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2 hidden" id="total-monthly-payment" >
                    Pago mensual
                    <p class="openpay-total">$<span id="monthly-payment"></span> COP</p>                    
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button type="submit" class="btn btn-primary" id="button-confirm" data-loading-text="Processing">{{ button_confirm }}</button>
            </div>
        </div>
    </div>
</form>

<script>
'use strict';

    $(document).ready(function(){
        
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            'placement': 'top'
        });
        
        var total = {{ total }};          
        $("#interest-free").change(function() {      
            var monthly_payment = 0;
            var months = parseInt($(this).val());     

            if (months > 1) {
                $("#total-monthly-payment").removeClass('hidden');
            } else {
                $("#total-monthly-payment").addClass('hidden');
            }

            monthly_payment = total/months;
            monthly_payment = monthly_payment.toFixed(2);

            $("#monthly-payment").text(monthly_payment);
        });

        if( typeof OpenPay === 'undefined' ){
            var country = '{{ country }}';
            if(country === 'MX'){
                var openpay_library = "catalog/view/theme/default/javascript/MX/openpay.v1.min.js";
                var hash_openpay = "sha256-WrWvhWLc23NGnw8DIxSdKvZEQT15ZApDSgV050k3Y5o=";
                createScriptTag(openpay_library, hash_openpay);
                var openpay_anti_fraud = "catalog/view/theme/default/javascript/MX/openpay-data.v1.min.js";
                var hash_anti = "sha256-vk4t/D2uJZb05HIt9Yfl/G3j4TvqYfUggSNK6+Ykvyk=";
                createScriptTag(openpay_anti_fraud, hash_anti);
            }else if(country === 'CO'){
                var openpay_library_co = "catalog/view/theme/default/javascript/CO/openpay.v1.min.js";
                var hash_openpay_co = "sha256-OK9qfWKqHJYnsxWiqczAt8TTIOYYZbx30krm/wE6EmI=";
                createScriptTag(openpay_library_co, hash_openpay_co);
                var openpay_anti_fraud_co = "catalog/view/theme/default/javascript/CO/openpay-data.v1.min.js";
                var hash_anti_co = "sha256-xUtB6hmMgZQlMrTCE/GHl2V5ApTEy5ozbenKwGxXiJw=";
                createScriptTag(openpay_anti_fraud_co, hash_anti_co);
            }

        }

        function createScriptTag(url, hash){
            var script = document.createElement( 'script');
            var head = document.getElementsByTagName( 'head' )[ 0 ];
            script.src = url;
            script.integrity = hash;
            script.crossorigin = "anonymous";
            head.appendChild( script );
            return;
        }
        
        function setApiKey(){
            OpenPay.setId('{{ merchant_id }}');
            OpenPay.setApiKey('{{ public_key }}');
            OpenPay.setSandboxMode({{ test_mode }});
            OpenPay.deviceData.setup("payment-form", "device_session_id");
        }

        var use_card_points = '{{use_card_points}}' === '1' ? true : false;
        console.log('use_card_points', {{save_cc}})
        
        $("body").append('<div class="modal fade" role="dialog" id="card-points-dialog"> <div class="modal-dialog modal-sm"> <div class="modal-content"> <div class="modal-header"> <h4 class="modal-title">Pagar con Puntos</h4> </div> <div class="modal-body"> <p>¿Desea usar los puntos de su tarjeta para realizar este pago?</p> </div> <div class="modal-footer"> <button type="button" class="btn btn-success" data-dismiss="modal" id="points-yes-button">Si</button> <button type="button" class="btn btn-default" data-dismiss="modal" id="points-no-button">No</button> </div> </div> </div></div>');
                 
        $("#openpay_cc").change(function() {      
            if ($('#openpay_cc').val() !== "new") {                                 
                $('#save_cc').prop('checked', false);                
                $('#save_cc').prop('disabled', true);                 

                $('#cc-owner').val("");
                $('#cc-number').val("");                                     
                $('#cc-cvv').val("");                                                     

                $('#payment_form_openpay_cards').hide();
                $('#payment_form_openpay_cards_savecc').hide();

            } else {                    
                $('#payment_form_openpay_cards').show();            
                $('#save_cc').prop('disabled', false);
                $('#payment_form_openpay_cards_savecc').show();
            }
        });  

        $('#payment-form').submit(function(event) {
            /* Prevent the form from submitting with the default action */
            event.preventDefault();

            if (typeof OpenPay === 'undefined') {
                alert("Archivo Js No Válido")
            }
            
            $("#button-confirm").button( 'loading' );
            addMsg( '{{ text_wait }}' , 'warning' );
            setApiKey();
            console.log("submit!!!");
            
            if ($('#openpay_cc').val() !== 'new') {
                $(this).append('<input type="hidden" name="token" value="' + $('#openpay_cc').val() + '" />');
                submitAjaxForm();
                return false;
            }
            
            OpenPay.token.extractFormAndCreate('payment-form', success_callbak, error_callbak);
            return false;
        });
        
        $("#points-yes-button").on('click', function () {        
            $('#use_card_points').val('true');
            submitAjaxForm();
        });

        $("#points-no-button").on('click', function () {        
            $('#use_card_points').val('false');
            submitAjaxForm();
        });

        function addMsg( msg , type ){
            var $msgBox = $('#msgBox');

            $msgBox[ 0 ].className =  'alert alert-' + type;
            $msgBox.find( 'span' ).text( msg );

            var className = '';
            switch( type ){
                case 'danger' :
                        className = 'fa-lg fa fa-exclamation-triangle';
                break;
                case 'warning' :
                        className = 'fa fa-cog fa-spin urgent-2x';
                break;
                case 'success' :
                        className = 'fa-2x fa fa-check';
                break;
            }
            $msgBox.find( 'i' )[ 0 ].className = className;
        }


        var success_callbak = function(response) {
            var token_id = response.data.id;
            var $msgBox = $( '#msgBox' );
            $msgBox.find( 'img' ).remove();            
            $('#payment-form').append('<input type="hidden" name="token" value="' + escape(token_id) + '" />');
            
            if (response.data.card.points_card && use_card_points) {
                $("#card-points-dialog").modal("show");                
            } else {
                submitAjaxForm();
            }                        
        };
        
        function submitAjaxForm() {
            var $form = $('#payment-form');
            $.ajax({
                url: '{{ action }}',
                type: 'post',
                data: $('#payment-form').serialize(),
                dataType: 'json',
                success: function (json, textStatus) {
                    if( json.error ){
                        addMsg( json.error , 'danger' );
                        $form.find('button').button( 'reset' )
                    } else if( json.success ){
                        
                        if (json.redirect === true) {
                            window.location.replace(json.redirect_url);
                        } else {
                            $form.find('button').attr( 'disabled' , 'disabled' );
                            addMsg( '{{ text_success_payment }}' , 'success' );
                            setTimeout( function(){ document.location.assign( json.success ) } , 2000 );
                        }
                    }else{
                        addMsg( '{{ error_error }}' , 'danger' );
                    }
                }
            });
        }

        var error_callbak = function(response) {
            var $form = $('#payment-form');            
            var msg = "";
            switch (response.data.error_code) {
                case 1000:
                    msg = "Servicio no disponible.";
                    break;

                case 1001:
                    msg = "Los campos no tienen el formato correcto, o la petición no tiene campos que son requeridos.";
                    break;

                case 1004:
                    msg = "Servicio no disponible.";
                    break;

                case 1005:
                    msg = "Servicio no disponible.";
                    break;

                case 2004:
                    msg = "El dígito verificador del número de tarjeta es inválido de acuerdo al algoritmo Luhn.";
                    break;

                case 2005:
                    msg = "La fecha de expiración de la tarjeta es anterior a la fecha actual.";
                    break;

                case 2006:
                    msg = "El código de seguridad de la tarjeta (CVV2) no fue proporcionado.";
                    break;

                default: //Demás errores 400
                    msg = "La petición no pudo ser procesada.";
                    break;
            }

            addMsg( 'ERROR ' + response.data.error_code + '. ' + msg , 'danger' )
            $form.find('button').button( 'reset' );

        };
    });

</script>